<div class="section-home-presentation-component">
    <div class="box-banner">
        <div class="box-info">
            <span class="title">Encontre a solução que precisa <br>
                para sua empresa
            </span>

            <span class="subtitle">Somos especialistas em criar<br>
                sistemas personalizados para<br>
                atender a necessidade<br>
                da sua empresa</span>

            <button class="contact-button">Entre em contato</button>
        </div>
    </div>

    <div class="box-text">
        <span>Sua empresa com um sistema atual e de qualidade</span>
    </div>

</div>