.section-home-presentation-component {
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  align-items: center;

  .box-banner {
    width: 100%;
    height: 100%;
    background: url(https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_960_720.jpg)
      no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .box-info {
      gap: 30px;
      padding: 0px 30px;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      .title {
        text-shadow: 0 0 2px #fff;
        font-size: 28px;
      }
      .subtitle {
        padding: 0px 30px;
      }
      .bottom-text {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
      }
      .contact-button {
        color: black;
        background-color: white;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        width: 180px;
        height: 60px;
        border: none;
        box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
        border-radius: 13px 5px 13px 5px;

        &:hover {
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
            0 0 20px rgba(255, 255, 255, 0.2);
          outline-color: rgba(255, 255, 255, 0);
          outline-offset: 15px;
          text-shadow: 1px 1px 2px #427388;
        }
      }
    }
  }
  .box-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: black;
    border: none;
  }
}
