<!-- <app-header></app-header>
<router-outlet></router-outlet> -->
{{layoutService.isMobile}}
{{layoutService.isOpenedMenu}}
<mat-drawer-container class="example-container" autosize>
    <mat-drawer [mode]="mode" #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        <p *ngIf="layoutService.isOpenedMenu">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="layoutService.toggleMenu()" mat-raised-button>
            Toggle extra text
        </button>
    </mat-drawer>

    <div class="header">
        <img src="https://cdn.pixabay.com/photo/2022/03/02/13/42/peace-7043225_960_720.jpg" alt="" class="logo">

        <div class="links" *ngIf="!layoutService.isMobile">
            <a href="#">Quem somos</a>
            <a href="#">Portfólio</a>
            <a href="#">Por que a devinova</a>
            <a href="#">Contato</a>
        </div>

        <mat-icon *ngIf="layoutService.isMobile" (click)="drawer.toggle()">menu</mat-icon>
    </div>

</mat-drawer-container>
<!-- <mat-toolbar>
    <img src="https://cdn.pixabay.com/photo/2022/03/02/13/42/peace-7043225_960_720.jpg" alt="" class="logo">

    <div class="links" *ngIf="!layoutService.isMobile">
        <a href="#">Quem somos</a>
        <a href="#">Portfólio</a>
        <a href="#">Por que a devinova</a>
        <a href="#">Contato</a>
    </div>

    <mat-icon *ngIf="layoutService.isMobile" (click)="layoutService.toggleMenu()">menu</mat-icon>

</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav *ngIf="layoutService.isMobile">
        <div class="mobile-menu" *ngIf="layoutService.isOpenedMenu">
            <a href="#">Quem somos</a>
            <a href="#">Portfólio</a>
            <a href="#">Por que a devinova</a>
            <a href="#">Contato</a>
        </div>
    </mat-sidenav>
    <mat-sidenav-content [class.disable-scroll]="">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> -->