<mat-sidenav-container autosize >
    <mat-sidenav #sidenav mode="over">
        <a class="link" href="#">Quem somos</a>
        <a class="link" href="#">Portfólio</a>
        <a class="link" href="#">Por que a devinova</a>
        <a class="link" href="#">Contato</a>
    </mat-sidenav>


    <mat-sidenav-content>
      <div class="header">
        <img class="logo" src="assets/images/logo.png">

        <div class="links" *ngIf="!layoutService.isMobile">
            <a class="link" href="#">Quem somos</a>
            <a class="link" href="#">Portfólio</a>
            <a class="link" href="#">Por que a devinova</a>
            <a class="link" href="#">Contato</a>
        </div>

        <mat-icon class="icon-menu" *ngIf="layoutService.isMobile" (click)="sidenav.toggle()">
          {{sidenav.opened ? 'close' : 'menu'}}
        </mat-icon>
      </div>

      <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
