<div class="section-home-services">
    <span class="subtitle">
        <p class="title" style="font-size: 5vh;color: #280051;">Sua idéia com profissionais de verdade<br></p>

        <p class="subtitle" style="font-size:3vh">Somos uma equipe com experiência de verdade e estamos ansiosos para
            saber qual<br> desafio
            sua
            empresa vai nos oferecer.
        </p>
    </span>

    <div class="services">

        <div class="services-item">

            <img src="https://cdn.pixabay.com/photo/2022/03/02/13/42/peace-7043225_960_720.jpg" alt=""
                class="title-icon">

            <span class="subtitle">

                <p style="font-size:5vh;color: #280051;">Sistemas<br></p>

                <p class="subtitle" style="font-size:3vh"> De um upgrade na sua empresa e aumente seus lucros com o<br>
                    desenvolvimento de sistemas personalizados para sua aprimorar<br>
                    a qualidade da sua equipe de funcionários.</p>

            </span>

        </div>

        <div class="services-item">

            <span dir="rtl" class="subtitle">

                <p style="font-size: 5vh;color: #280051;">Aplicativos<br></p>

                <p class="subtitle" style="font-size:3vh">Destaque-se das outras lojas virtuais deixe de depender de<br>
                    aplicativos de
                    terceiros
                    para
                    ter lucros para seu estabelecimento<br> tenha um aplicativo personalizado e próprio da sua empresa.
                <p>

            </span>

            <img src="https://cdn.pixabay.com/photo/2022/03/02/13/42/peace-7043225_960_720.jpg" alt=""
                class="title-icon">

        </div>

        <div class="services-item">

            <img src="https://cdn.pixabay.com/photo/2022/03/02/13/42/peace-7043225_960_720.jpg" alt=""
                class="title-icon">

            <span class="subtitle">
                <p style="font-size: 5vh;color: #280051;">Sites<br></p>

                <p class="subtitle" style="font-size:3vh">De vida a sua ideia e crie seu site conosco e tenha<br>
                    um design responsivo e único para se destacar<br>
                    na web e esteja no topo das buscas com seu<br>
                    e-commerce.
                </p>

            </span>
        </div>
    </div>
</div>